In [1]:
import os
import csv
import pandas as pd
import matplotlib.pyplot as plt

In [49]:
csv = pd.read_csv(r"C:\Users\pkare\Documents\Data Bootcamp\Assignments\project-one\autos_translate.csv", encoding= 'ISO-8859-1')

csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 371528 entries, 0 to 371527
Data columns (total 20 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   dateCrawled          371528 non-null  object
 1   name                 371528 non-null  object
 2   seller               371528 non-null  object
 3   offerType            371528 non-null  object
 4   price                371528 non-null  int64
 5   abtest               371528 non-null  object
 6   vehicleType          333659 non-null  object
 7   yearOfRegistration   371528 non-null  int64
 8   gearbox              351319 non-null  object
 9   powerPS              371528 non-null  int64
 10  model                351044 non-null  object
 11  kilometer            371528 non-null  int64
 12  monthOfRegistration  371528 non-null  int64
 13  fuelType             338142 non-null  object
 14  brand                371528 non-null  object
 15  notRepairedDamage    299468 non-null  object
 16  dateCreated          371528 non-null  object
 17  nrOfPictures         371528 non-null  int64
 18  postalCode           371528 non-null  int64
 19  lastSeen             371528 non-null  object
dtypes: int64(7), object(13)
memory usage: 56.7+ MB

In [3]:
print(csv.shape)

(371528, 20)

In [50]:
autos = csv.dropna(axis= 0)

autos.info()

<class 'pandas.core.frame.DataFrame'>
Index: 260956 entries, 3 to 371527
Data columns (total 20 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   dateCrawled          260956 non-null  object
 1   name                 260956 non-null  object
 2   seller               260956 non-null  object
 3   offerType            260956 non-null  object
 4   price                260956 non-null  int64
 5   abtest               260956 non-null  object
 6   vehicleType          260956 non-null  object
 7   yearOfRegistration   260956 non-null  int64
 8   gearbox              260956 non-null  object
 9   powerPS              260956 non-null  int64
 10  model                260956 non-null  object
 11  kilometer            260956 non-null  int64
 12  monthOfRegistration  260956 non-null  int64
 13  fuelType             260956 non-null  object
 14  brand                260956 non-null  object
 15  notRepairedDamage    260956 non-null  object
 16  dateCreated          260956 non-null  object
 17  nrOfPictures         260956 non-null  int64
 18  postalCode           260956 non-null  int64
 19  lastSeen             260956 non-null  object
dtypes: int64(7), object(13)
memory usage: 41.8+ MB

In [52]:
crawled_date = autos["dateCrawled"]
name = autos["name"]
seller = autos["seller"]
offer_type = autos["offerType"]
price = autos["price"]
abtest = autos['abtest']
vehicle_type = autos['vehicleType']
reg_yr = autos['yearOfRegistration']
gearbox = autos['gearbox']
powerps = autos['powerPS']
model = autos['model']
distance = autos['kilometer']
reg_mon = autos['monthOfRegistration']
fuel_type = autos['fuelType']
brand = autos['brand']
no_repair = autos['notRepairedDamage']
created_date = autos['dateCreated']
postal = autos['postalCode']
last_seen = autos['lastSeen']
price.head()

3    1500
4    3600
5     650
6    2200
7       0
Name: price, dtype: int64

In [45]:
crawled_date.head()

3    2016-03-17 16:54:04
4    2016-03-31 17:25:20
5    2016-04-04 17:36:23
6    2016-04-01 20:48:51
7    2016-03-21 18:54:38
Name: dateCrawled, dtype: object

In [46]:
created_date.head()

3    2016-03-17 00:00:00
4    2016-03-31 00:00:00
5    2016-04-04 00:00:00
6    2016-04-01 00:00:00
7    2016-03-21 00:00:00
Name: dateCreated, dtype: object

In [44]:
last_seen.head()

3    2016-03-17 17:40:17
4    2016-04-06 10:17:21
5    2016-04-06 19:17:07
6    2016-04-05 18:18:39
7    2016-03-25 16:47:58
Name: lastSeen, dtype: object

In [51]:
toyota = autos.loc[autos['brand'] == 'toyota']
honda = autos.loc[autos['brand'] == 'honda']
nissan = autos.loc[autos['brand'] == 'nissan']

volkswagen = autos.loc[autos['brand'] == 'volkswagen']
bmw = autos.loc[autos['brand'] == 'bmw']
mercedes = autos.loc[autos['brand'] == 'mercedes_benz']

ford = autos.loc[autos['brand'] == 'ford']
chevy = autos.loc[autos['brand'] == 'chevrolet']
chrysler = autos.loc[autos['brand'] == 'chrysler']

chrysler.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1025 entries, 635 to 371501
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   dateCrawled          1025 non-null   object
 1   name                 1025 non-null   object
 2   seller               1025 non-null   object
 3   offerType            1025 non-null   object
 4   price                1025 non-null   int64
 5   abtest               1025 non-null   object
 6   vehicleType          1025 non-null   object
 7   yearOfRegistration   1025 non-null   int64
 8   gearbox              1025 non-null   object
 9   powerPS              1025 non-null   int64
 10  model                1025 non-null   object
 11  kilometer            1025 non-null   int64
 12  monthOfRegistration  1025 non-null   int64
 13  fuelType             1025 non-null   object
 14  brand                1025 non-null   object
 15  notRepairedDamage    1025 non-null   object
 16  dateCreated          1025 non-null   object
 17  nrOfPictures         1025 non-null   int64
 18  postalCode           1025 non-null   int64
 19  lastSeen             1025 non-null   object
dtypes: int64(7), object(13)
memory usage: 168.2+ KB