In [42]:
import os
import csv
import pandas as pd
import matplotlib.pyplot as plt

In [55]:
csv = pd.read_csv(r"C:\Users\pkare\Documents\Data Bootcamp\Assignments\project-one\autos_translate.csv", encoding= 'ISO-8859-1')
#csv.head(5)
csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 371528 entries, 0 to 371527
Data columns (total 20 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   dateCrawled          371528 non-null  object
 1   name                 371528 non-null  object
 2   seller               371528 non-null  object
 3   offerType            371528 non-null  object
 4   price                371528 non-null  int64
 5   abtest               371528 non-null  object
 6   vehicleType          333659 non-null  object
 7   yearOfRegistration   371528 non-null  int64
 8   gearbox              351319 non-null  object
 9   powerPS              371528 non-null  int64
 10  model                351044 non-null  object
 11  kilometer            371528 non-null  int64
 12  monthOfRegistration  371528 non-null  int64
 13  fuelType             338142 non-null  object
 14  brand                371528 non-null  object
 15  notRepairedDamage    299468 non-null  object
 16  dateCreated          371528 non-null  object
 17  nrOfPictures         371528 non-null  int64
 18  postalCode           371528 non-null  int64
 19  lastSeen             371528 non-null  object
dtypes: int64(7), object(13)
memory usage: 56.7+ MB

In [56]:
print(csv.shape)

(371528, 20)

In [57]:
csv_clean = csv.dropna(axis= 0)

csv_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 260956 entries, 3 to 371527
Data columns (total 20 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   dateCrawled          260956 non-null  object
 1   name                 260956 non-null  object
 2   seller               260956 non-null  object
 3   offerType            260956 non-null  object
 4   price                260956 non-null  int64
 5   abtest               260956 non-null  object
 6   vehicleType          260956 non-null  object
 7   yearOfRegistration   260956 non-null  int64
 8   gearbox              260956 non-null  object
 9   powerPS              260956 non-null  int64
 10  model                260956 non-null  object
 11  kilometer            260956 non-null  int64
 12  monthOfRegistration  260956 non-null  int64
 13  fuelType             260956 non-null  object
 14  brand                260956 non-null  object
 15  notRepairedDamage    260956 non-null  object
 16  dateCreated          260956 non-null  object
 17  nrOfPictures         260956 non-null  int64
 18  postalCode           260956 non-null  int64
 19  lastSeen             260956 non-null  object
dtypes: int64(7), object(13)
memory usage: 41.8+ MB

In [58]:
crawled_date = csv_clean["dateCrawled"]
name = csv_clean["name"]
seller = csv_clean["seller"]
offer_type = csv_clean["offerType"]
price = csv_clean["price"]
abtest = csv_clean['abtest']
vehicle_type = csv_clean['vehicleType']
reg_yr = csv_clean['yearOfRegistration']
gearbox = csv_clean['gearbox']
powerps = csv_clean['powerPS']
model = csv_clean['model']
distance = csv_clean['kilometer']
reg_mon = csv_clean['monthOfRegistration']
fuel_type = csv_clean['fuelType']
brand = csv_clean['brand']
no_repair = csv_clean['notRepairedDamage']
created_date = csv_clean['dateCreated']
postal = csv_clean['postalCode']
last_seen = csv_clean['lastSeen']
head_fuel = fuel_type.head()

In [59]:
csv_clean.head()

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
3,2016-03-17 16:54:04,GOLF_4_1_4__3TÃRER,private,offer,1500,test,sedan,2001,manual,75,golf,150000,6,petrol,volkswagen,no,2016-03-17 00:00:00,0,91074,2016-03-17 17:40:17
4,2016-03-31 17:25:20,Skoda_Fabia_1.4_TDI_PD_Classic,private,offer,3600,test,sedan,2008,manual,69,fabia,90000,7,diesel,skoda,no,2016-03-31 00:00:00,0,60437,2016-04-06 10:17:21
5,2016-04-04 17:36:23,BMW_316i___e36_Limousine___Bastlerfahrzeug__Ex...,private,offer,650,test,limousine,1995,manual,102,3er,150000,10,petrol,bmw,yes,2016-04-04 00:00:00,0,33775,2016-04-06 19:17:07
6,2016-04-01 20:48:51,Peugeot_206_CC_110_Platinum,private,offer,2200,test,convertible,2004,manual,109,2_reihe,150000,8,petrol,peugeot,no,2016-04-01 00:00:00,0,67112,2016-04-05 18:18:39
7,2016-03-21 18:54:38,VW_Derby_Bj_80__Scheunenfund,private,offer,0,test,limousine,1980,manual,50,andere,40000,7,petrol,volkswagen,no,2016-03-21 00:00:00,0,19348,2016-03-25 16:47:58