In [61]:
import os
import csv
import pandas as pd
!pip install deep-translator
from deep_translator import GoogleTranslator

Requirement already satisfied: deep-translator in c:\users\pkare\anaconda3\lib\site-packages (1.11.4)
Requirement already satisfied: beautifulsoup4<5.0.0,>=4.9.1 in c:\users\pkare\anaconda3\lib\site-packages (from deep-translator) (4.12.2)
Requirement already satisfied: requests<3.0.0,>=2.23.0 in c:\users\pkare\anaconda3\lib\site-packages (from deep-translator) (2.31.0)
Requirement already satisfied: soupsieve>1.2 in c:\users\pkare\anaconda3\lib\site-packages (from beautifulsoup4<5.0.0,>=4.9.1->deep-translator) (2.5)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\pkare\anaconda3\lib\site-packages (from requests<3.0.0,>=2.23.0->deep-translator) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\pkare\anaconda3\lib\site-packages (from requests<3.0.0,>=2.23.0->deep-translator) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\pkare\anaconda3\lib\site-packages (from requests<3.0.0,>=2.23.0->deep-translator) (1.26.18)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\pkare\anaconda3\lib\site-packages (from requests<3.0.0,>=2.23.0->deep-translator) (2023.11.17)

In [50]:
csv = pd.read_csv(r"C:\Users\pkare\Documents\Data Bootcamp\Assignments\project-one\autos.csv", encoding= 'ISO-8859-1')
#csv.head(5)
csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 371528 entries, 0 to 371527
Data columns (total 20 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   dateCrawled          371528 non-null  object
 1   name                 371528 non-null  object
 2   seller               371528 non-null  object
 3   offerType            371528 non-null  object
 4   price                371528 non-null  int64
 5   abtest               371528 non-null  object
 6   vehicleType          333659 non-null  object
 7   yearOfRegistration   371528 non-null  int64
 8   gearbox              351319 non-null  object
 9   powerPS              371528 non-null  int64
 10  model                351044 non-null  object
 11  kilometer            371528 non-null  int64
 12  monthOfRegistration  371528 non-null  int64
 13  fuelType             338142 non-null  object
 14  brand                371528 non-null  object
 15  notRepairedDamage    299468 non-null  object
 16  dateCreated          371528 non-null  object
 17  nrOfPictures         371528 non-null  int64
 18  postalCode           371528 non-null  int64
 19  lastSeen             371528 non-null  object
dtypes: int64(7), object(13)
memory usage: 56.7+ MB

In [8]:
print(csv.shape)

(371528, 20)

In [41]:
#crawled_date = csv["dateCrawled"]
#name = csv["name"]
#seller = csv["seller"]
#offer_type = csv["offerType"]
#price = csv["price"]
#abtest = csv['abtest']
#vehicle_type = csv['vehicleType']
#reg_yr = csv['yearOfRegistration']
#gearbox = csv['gearbox']
#powerps = csv['powerPS']
#model = csv['model']
#distance = csv['kilometer']
#reg_mon = csv['monthOfRegistration']
#fuel_type = csv['fuelType']
#brand = csv['brand']
#no_repair = csv['notRepairedDamage']
#created_date = csv['dateCreated']
#postal = csv['postalCode']
#last_seen = csv['lastSeen']

0    2016-04-07 03:16:57
1    2016-04-07 01:46:50
2    2016-04-05 12:47:46
3    2016-03-17 17:40:17
4    2016-04-06 10:17:21
Name: lastSeen, dtype: object

In [59]:
csv_clean = csv.dropna(axis= 0)

csv_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 260956 entries, 3 to 371527
Data columns (total 20 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   dateCrawled          260956 non-null  object
 1   name                 260956 non-null  object
 2   seller               260956 non-null  object
 3   offerType            260956 non-null  object
 4   price                260956 non-null  int64
 5   abtest               260956 non-null  object
 6   vehicleType          260956 non-null  object
 7   yearOfRegistration   260956 non-null  int64
 8   gearbox              260956 non-null  object
 9   powerPS              260956 non-null  int64
 10  model                260956 non-null  object
 11  kilometer            260956 non-null  int64
 12  monthOfRegistration  260956 non-null  int64
 13  fuelType             260956 non-null  object
 14  brand                260956 non-null  object
 15  notRepairedDamage    260956 non-null  object
 16  dateCreated          260956 non-null  object
 17  nrOfPictures         260956 non-null  int64
 18  postalCode           260956 non-null  int64
 19  lastSeen             260956 non-null  object
dtypes: int64(7), object(13)
memory usage: 41.8+ MB

In [68]:
crawled_date = csv_clean["dateCrawled"]
name = csv_clean["name"]
seller = csv_clean["seller"]
offer_type = csv_clean["offerType"]
price = csv_clean["price"]
abtest = csv_clean['abtest']
vehicle_type = csv_clean['vehicleType']
reg_yr = csv_clean['yearOfRegistration']
gearbox = csv_clean['gearbox']
powerps = csv_clean['powerPS']
model = csv_clean['model']
distance = csv_clean['kilometer']
reg_mon = csv_clean['monthOfRegistration']
fuel_type = csv_clean['fuelType']
brand = csv_clean['brand']
no_repair = csv_clean['notRepairedDamage']
created_date = csv_clean['dateCreated']
postal = csv_clean['postalCode']
last_seen = csv_clean['lastSeen']
head_fuel = fuel_type.head()

pandas.core.series.Series

In [65]:
csv_clean.head()

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
3,2016-03-17 16:54:04,GOLF_4_1_4__3TÃœRER,privat,Angebot,1500,test,kleinwagen,2001,manuell,75,golf,150000,6,benzin,volkswagen,nein,2016-03-17 00:00:00,0,91074,2016-03-17 17:40:17
4,2016-03-31 17:25:20,Skoda_Fabia_1.4_TDI_PD_Classic,privat,Angebot,3600,test,kleinwagen,2008,manuell,69,fabia,90000,7,diesel,skoda,nein,2016-03-31 00:00:00,0,60437,2016-04-06 10:17:21
5,2016-04-04 17:36:23,BMW_316i___e36_Limousine___Bastlerfahrzeug__Ex...,privat,Angebot,650,test,limousine,1995,manuell,102,3er,150000,10,benzin,bmw,ja,2016-04-04 00:00:00,0,33775,2016-04-06 19:17:07
6,2016-04-01 20:48:51,Peugeot_206_CC_110_Platinum,privat,Angebot,2200,test,cabrio,2004,manuell,109,2_reihe,150000,8,benzin,peugeot,nein,2016-04-01 00:00:00,0,67112,2016-04-05 18:18:39
7,2016-03-21 18:54:38,VW_Derby_Bj_80__Scheunenfund,privat,Angebot,0,test,limousine,1980,manuell,50,andere,40000,7,benzin,volkswagen,nein,2016-03-21 00:00:00,0,19348,2016-03-25 16:47:58

In [90]:
vehicle_type.unique()

array(['kleinwagen', 'limousine', 'cabrio', 'kombi', 'suv', 'bus',
       'coupe', 'andere'], dtype=object)