In [2]:
import os
import csv
import pandas as pd
import matplotlib.pyplot as plt

KeyboardInterrupt:

In [ ]:
csv = pd.read_csv(r"C:\Users\pkare\Documents\Data Bootcamp\Assignments\project-one\autos_translate.csv", encoding= 'ISO-8859-1')

csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 371528 entries, 0 to 371527
Data columns (total 20 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   dateCrawled          371528 non-null  object
 1   name                 371528 non-null  object
 2   seller               371528 non-null  object
 3   offerType            371528 non-null  object
 4   price                371528 non-null  int64
 5   abtest               371528 non-null  object
 6   vehicleType          333659 non-null  object
 7   yearOfRegistration   371528 non-null  int64
 8   gearbox              351319 non-null  object
 9   powerPS              371528 non-null  int64
 10  model                351044 non-null  object
 11  kilometer            371528 non-null  int64
 12  monthOfRegistration  371528 non-null  int64
 13  fuelType             338142 non-null  object
 14  brand                371528 non-null  object
 15  notRepairedDamage    299468 non-null  object
 16  dateCreated          371528 non-null  object
 17  nrOfPictures         371528 non-null  int64
 18  postalCode           371528 non-null  int64
 19  lastSeen             371528 non-null  object
dtypes: int64(7), object(13)
memory usage: 56.7+ MB

In [ ]:
csv.head()

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-24 11:52:17,Golf_3_1.6,private,offer,480,test,NaN,1993,manual,0,golf,150000,0,petrol,volkswagen,NaN,2016-03-24 00:00:00,0,70435,2016-04-07 03:16:57
1,2016-03-24 10:58:45,A5_Sportback_2.7_Tdi,private,offer,18300,test,coupe,2011,manual,190,NaN,125000,5,diesel,audi,yes,2016-03-24 00:00:00,0,66954,2016-04-07 01:46:50
2,2016-03-14 12:52:21,"Jeep_Grand_Cherokee_""Overland""",private,offer,9800,test,suv,2004,automatic,163,grand,125000,8,diesel,jeep,NaN,2016-03-14 00:00:00,0,90480,2016-04-05 12:47:46
3,2016-03-17 16:54:04,GOLF_4_1_4__3TÃRER,private,offer,1500,test,sedan,2001,manual,75,golf,150000,6,petrol,volkswagen,no,2016-03-17 00:00:00,0,91074,2016-03-17 17:40:17
4,2016-03-31 17:25:20,Skoda_Fabia_1.4_TDI_PD_Classic,private,offer,3600,test,sedan,2008,manual,69,fabia,90000,7,diesel,skoda,no,2016-03-31 00:00:00,0,60437,2016-04-06 10:17:21

In [ ]:
autos = csv.dropna(axis= 0)
autos = autos.drop(autos[autos['seller'] == 'commercial'].index)
autos = autos.drop(autos[autos['offerType'] == 'wanted'].index)
#autos = autos.drop(autos[autos['abtest'] == 'control'].index)
autos = autos.drop(autos[autos['brand'] == 'skoda'].index)
autos = autos.drop(autos[autos['brand'] == 'peugeot'].index)
autos = autos.drop(autos[autos['brand'] == 'mazda'].index)
autos = autos.drop(autos[autos['brand'] == 'renault'].index)
autos = autos.drop(autos[autos['brand'] == 'seat'].index)
autos = autos.drop(autos[autos['brand'] == 'fiat'].index)
autos = autos.drop(autos[autos['brand'] == 'mini'].index)
autos = autos.drop(autos[autos['brand'] == 'opel'].index)
autos = autos.drop(autos[autos['brand'] == 'smart'].index)
autos = autos.drop(autos[autos['brand'] == 'volkswagen'].index)
autos = autos.drop(autos[autos['brand'] == 'alfa_romeo'].index)
autos = autos.drop(autos[autos['brand'] == 'subaru'].index)
autos = autos.drop(autos[autos['brand'] == 'mitsubishi'].index)
autos = autos.drop(autos[autos['brand'] == 'hyundai'].index)
autos = autos.drop(autos[autos['brand'] == 'volvo'].index)
autos = autos.drop(autos[autos['brand'] == 'lancia'].index)
autos = autos.drop(autos[autos['brand'] == 'porsche'].index)
autos = autos.drop(autos[autos['brand'] == 'citroen'].index)
autos = autos.drop(autos[autos['brand'] == 'kia'].index)
autos = autos.drop(autos[autos['brand'] == 'suzuki'].index)
autos = autos.drop(autos[autos['brand'] == 'daihatsu'].index)
autos = autos.drop(autos[autos['brand'] == 'jaguar'].index)
autos = autos.drop(autos[autos['brand'] == 'rover'].index)
autos = autos.drop(autos[autos['brand'] == 'jeep'].index)
autos = autos.drop(autos[autos['brand'] == 'saab'].index)
autos = autos.drop(autos[autos['brand'] == 'daewoo'].index)
autos = autos.drop(autos[autos['brand'] == 'land_rover'].index)
autos = autos.drop(autos[autos['brand'] == 'trabant'].index)
autos = autos.drop(autos[autos['brand'] == 'lada'].index)
autos = autos.drop(autos[autos['brand'] == 'dacia'].index)

autos.info()

<class 'pandas.core.frame.DataFrame'>
Index: 111067 entries, 5 to 371527
Data columns (total 20 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   dateCrawled          111067 non-null  object
 1   name                 111067 non-null  object
 2   seller               111067 non-null  object
 3   offerType            111067 non-null  object
 4   price                111067 non-null  int64
 5   abtest               111067 non-null  object
 6   vehicleType          111067 non-null  object
 7   yearOfRegistration   111067 non-null  int64
 8   gearbox              111067 non-null  object
 9   powerPS              111067 non-null  int64
 10  model                111067 non-null  object
 11  kilometer            111067 non-null  int64
 12  monthOfRegistration  111067 non-null  int64
 13  fuelType             111067 non-null  object
 14  brand                111067 non-null  object
 15  notRepairedDamage    111067 non-null  object
 16  dateCreated          111067 non-null  object
 17  nrOfPictures         111067 non-null  int64
 18  postalCode           111067 non-null  int64
 19  lastSeen             111067 non-null  object
dtypes: int64(7), object(13)
memory usage: 17.8+ MB

In [ ]:
crawled_date = autos["dateCrawled"]
name = autos["name"]
seller = autos["seller"]
offer_type = autos["offerType"]
price = autos["price"]
abtest = autos['abtest']
vehicle_type = autos['vehicleType']
reg_yr = autos['yearOfRegistration']
gearbox = autos['gearbox']
powerps = autos['powerPS']
model = autos['model']
distance = autos['kilometer']
reg_mon = autos['monthOfRegistration']
fuel_type = autos['fuelType']
brand = autos['brand']
no_repair = autos['notRepairedDamage']
created_date = autos['dateCreated']
postal = autos['postalCode']
last_seen = autos['lastSeen']
postal.unique()

array([33775,  4177, 88361, ..., 21439, 29491, 19260], dtype=int64)

In [ ]:
crawled_date.head()

3    2016-03-17 16:54:04
4    2016-03-31 17:25:20
5    2016-04-04 17:36:23
6    2016-04-01 20:48:51
7    2016-03-21 18:54:38
Name: dateCrawled, dtype: object

In [ ]:
created_date.head()

3    2016-03-17 00:00:00
4    2016-03-31 00:00:00
5    2016-04-04 00:00:00
6    2016-04-01 00:00:00
7    2016-03-21 00:00:00
Name: dateCreated, dtype: object

In [ ]:
last_seen.head()

3    2016-03-17 17:40:17
4    2016-04-06 10:17:21
5    2016-04-06 19:17:07
6    2016-04-05 18:18:39
7    2016-03-25 16:47:58
Name: lastSeen, dtype: object

In [ ]:
toyota = autos.loc[autos['brand'] == 'toyota']
honda = autos.loc[autos['brand'] == 'honda']
nissan = autos.loc[autos['brand'] == 'nissan']

volkswagen = autos.loc[autos['brand'] == 'volkswagen']
bmw = autos.loc[autos['brand'] == 'bmw']
mercedes = autos.loc[autos['brand'] == 'mercedes_benz']

ford = autos.loc[autos['brand'] == 'ford']
chevy = autos.loc[autos['brand'] == 'chevrolet']
chrysler = autos.loc[autos['brand'] == 'chrysler']

chrysler.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1025 entries, 635 to 371501
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   dateCrawled          1025 non-null   object
 1   name                 1025 non-null   object
 2   seller               1025 non-null   object
 3   offerType            1025 non-null   object
 4   price                1025 non-null   int64
 5   abtest               1025 non-null   object
 6   vehicleType          1025 non-null   object
 7   yearOfRegistration   1025 non-null   int64
 8   gearbox              1025 non-null   object
 9   powerPS              1025 non-null   int64
 10  model                1025 non-null   object
 11  kilometer            1025 non-null   int64
 12  monthOfRegistration  1025 non-null   int64
 13  fuelType             1025 non-null   object
 14  brand                1025 non-null   object
 15  notRepairedDamage    1025 non-null   object
 16  dateCreated          1025 non-null   object
 17  nrOfPictures         1025 non-null   int64
 18  postalCode           1025 non-null   int64
 19  lastSeen             1025 non-null   object
dtypes: int64(7), object(13)
memory usage: 168.2+ KB